{% macro breadCrumbsMixin(items, backButton) %}
    {% if items %}
        <div class="container">
            <div class="bread-crumbs js-anim js-anim--opacity">
                {% for item in items %}
                    {% if loop.index < loop.length %}
                        <span class="bread-crumbs__item">
                        <a href="">{{ item.name }}</a>
                    </span>
                    {% else %}
                        <span class="bread-crumbs__item">{{ item.name }}</span>
                    {% endif %}
                {% endfor %}
            </div>
            {% if backButton %}
                <div class="bread-crumbs-back">
                    <a class="_link-line" href="#">{{ backButton if backButton else "Назад" }}</a>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}