<div class="catalog-header">
    <button type="button" class="catalog-header__trigger btn js-drop">
        <img class="icon-page" src="content/icons/icon-catalog.svg" alt="" aria-hidden="true">
        <span>Каталог</span>
    </button>
    <div class="catalog-header__wrapper">
        <div class="container">
            <div class="catalog-header__layer js-drop-close"></div>
            <div class="catalog-header__content">
                <button type="button" class="catalog-header__close icon-page js-drop-close">
                    <img src="content/icons/icon-close.svg" alt="" aria-hidden="true">
                </button>
                <ul class="menu-catalog-header catalog-header__column">
                    <li class="menu-catalog-header__item _open">
                        <div class="menu-catalog-header__link js-submenu-trigger">Анкерные тяги</div>
                        <div class="submenu-catalog-header catalog-header__column">
                            <div class="menu-catalog-header__back js-menu-step-back">
                                <img class="icon-page icon-page--small" src="content/icons/icon-arr-left-small.svg" alt="" aria-hidden="true">
                                <span>Назад</span>
                            </div>
                            <a href="">Анкерные тяги</a>
                            <img src="content/header-menu-01.jpg" alt="фото товара">
                            <ul>
                                <li class="submenu-catalog-header__item _open">
                                    <div class="submenu-catalog-header__link js-lastmenu-trigger">
                                        <span>Серия 5.904-1 выпуск 1:</span>
                                        Блоки пружинные
                                    </div>
                                    <ul class="lastmenu-catalog-header catalog-header__column">
                                        <li class="menu-catalog-header__back js-menu-step-back">
                                            <img class="icon-page icon-page--small" src="content/icons/icon-arr-left-small.svg" alt="" aria-hidden="true">
                                            <span>Назад</span>
                                        </li>
                                        <li>
                                            <a href="#">Для дома и сада</a>
                                        </li>
                                        <li>
                                            <a href="#">Блоки пружинные</a>
                                        </li>
                                        <li>
                                            <a href="#">Крепления трубопроводов</a>
                                        </li>
                                        <li>
                                            <a href="#">Быстровозводимые здания</a>
                                        </li>
                                        <li>
                                            <a href="#">Высотные сооружения</a>
                                        </li>
                                        <li>
                                            <a href="#">Двери</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="submenu-catalog-header__item">
                                    <div class="submenu-catalog-header__link js-lastmenu-trigger">
                                        <span>Серия 5.1904-1 выпуск 12:</span>
                                        Блоки пружинные цветные
                                    </div>
                                    <ul class="lastmenu-catalog-header catalog-header__column">
                                        <li class="menu-catalog-header__back js-menu-step-back">
                                            <img class="icon-page icon-page--small" src="content/icons/icon-arr-left-small.svg" alt="" aria-hidden="true">
                                            <span>Назад</span>
                                        </li>
                                        <li>
                                            <a href="#">Блоки пружинные</a>
                                        </li>
                                        <li>
                                            <a href="#">Быстровозводимые здания</a>
                                        </li>
                                        <li>
                                            <a href="#">Высотные сооружения</a>
                                        </li>
                                        <li>
                                            <a href="#">Двери</a>
                                        </li>
                                        <li>
                                            <a href="#">Для дома и сада</a>
                                        </li>
                                        <li>
                                            <a href="#">Крепления трубопроводов</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="submenu-catalog-header__item">
                                    <div class="submenu-catalog-header__link js-lastmenu-trigger">
                                        <span>Серия 5.904-1 выпуск 1:</span>
                                        Блоки пружинные
                                    </div>
                                    <ul class="lastmenu-catalog-header catalog-header__column">
                                        <li class="menu-catalog-header__back js-menu-step-back">
                                            <img class="icon-page icon-page--small" src="content/icons/icon-arr-left-small.svg" alt="" aria-hidden="true">
                                            <span>Назад</span>
                                        </li>
                                        <li>
                                            <a href="#">Для дома и сада</a>
                                        </li>
                                        <li>
                                            <a href="#">Блоки пружинные</a>
                                        </li>
                                        <li>
                                            <a href="#">Крепления трубопроводов</a>
                                        </li>
                                        <li>
                                            <a href="#">Быстровозводимые здания</a>
                                        </li>
                                        <li>
                                            <a href="#">Высотные сооружения</a>
                                        </li>
                                        <li>
                                            <a href="#">Двери</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="submenu-catalog-header__item">
                                    <div class="submenu-catalog-header__link js-lastmenu-trigger">
                                        <span>Серия 5.1904-1 выпуск 12:</span>
                                        Блоки пружинные цветные
                                    </div>
                                    <ul class="lastmenu-catalog-header catalog-header__column">
                                        <li class="menu-catalog-header__back js-menu-step-back">
                                            <img class="icon-page icon-page--small" src="content/icons/icon-arr-left-small.svg" alt="" aria-hidden="true">
                                            <span>Назад</span>
                                        </li>
                                        <li>
                                            <a href="#">Блоки пружинные</a>
                                        </li>
                                        <li>
                                            <a href="#">Быстровозводимые здания</a>
                                        </li>
                                        <li>
                                            <a href="#">Высотные сооружения</a>
                                        </li>
                                        <li>
                                            <a href="#">Двери</a>
                                        </li>
                                        <li>
                                            <a href="#">Для дома и сада</a>
                                        </li>
                                        <li>
                                            <a href="#">Крепления трубопроводов</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="menu-catalog-header__item">
                        <div class="menu-catalog-header__link js-submenu-trigger">Арматура трубопроводов</div>
                        <div class="submenu-catalog-header catalog-header__column">
                            <div class="menu-catalog-header__back js-menu-step-back">
                                <img class="icon-page icon-page--small" src="content/icons/icon-arr-left-small.svg" alt="" aria-hidden="true">
                                <span>Назад</span>
                            </div>
                            <a href="">Арматура трубопроводов</a>
                            <img src="content/header-menu-02.png" alt="фото товара">
                            <ul>
                                <li class="submenu-catalog-header__item">
                                    <div class="submenu-catalog-header__link js-lastmenu-trigger">
                                        <span>Серия 5.1904-1 выпуск 12:</span>
                                        Блоки пружинные цветные
                                    </div>
                                    <ul class="lastmenu-catalog-header catalog-header__column">
                                        <li class="menu-catalog-header__back js-menu-step-back">
                                            <img class="icon-page icon-page--small" src="content/icons/icon-arr-left-small.svg" alt="" aria-hidden="true">
                                            <span>Назад</span>
                                        </li>
                                        <li>
                                            <a href="#">Блоки пружинные</a>
                                        </li>
                                        <li>
                                            <a href="#">Быстровозводимые здания</a>
                                        </li>
                                        <li>
                                            <a href="#">Высотные сооружения</a>
                                        </li>
                                        <li>
                                            <a href="#">Двери</a>
                                        </li>
                                        <li>
                                            <a href="#">Для дома и сада</a>
                                        </li>
                                        <li>
                                            <a href="#">Крепления трубопроводов</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="submenu-catalog-header__item">
                                    <div class="submenu-catalog-header__link js-lastmenu-trigger">
                                        <span>Серия 5.904-1 выпуск 1:</span>
                                        Блоки пружинные
                                    </div>
                                    <ul class="lastmenu-catalog-header catalog-header__column">
                                        <li class="menu-catalog-header__back js-menu-step-back">
                                            <img class="icon-page icon-page--small" src="content/icons/icon-arr-left-small.svg" alt="" aria-hidden="true">
                                            <span>Назад</span>
                                        </li>
                                        <li>
                                            <a href="#">Для дома и сада</a>
                                        </li>
                                        <li>
                                            <a href="#">Блоки пружинные</a>
                                        </li>
                                        <li>
                                            <a href="#">Крепления трубопроводов</a>
                                        </li>
                                        <li>
                                            <a href="#">Быстровозводимые здания</a>
                                        </li>
                                        <li>
                                            <a href="#">Высотные сооружения</a>
                                        </li>
                                        <li>
                                            <a href="#">Двери</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="submenu-catalog-header__item">
                                    <div class="submenu-catalog-header__link js-lastmenu-trigger">
                                        <span>Серия 5.1904-1 выпуск 12:</span>
                                        Блоки пружинные цветные
                                    </div>
                                    <ul class="lastmenu-catalog-header catalog-header__column">
                                        <li class="menu-catalog-header__back js-menu-step-back">
                                            <img class="icon-page icon-page--small" src="content/icons/icon-arr-left-small.svg" alt="" aria-hidden="true">
                                            <span>Назад</span>
                                        </li>
                                        <li>
                                            <a href="#">Блоки пружинные</a>
                                        </li>
                                        <li>
                                            <a href="#">Быстровозводимые здания</a>
                                        </li>
                                        <li>
                                            <a href="#">Высотные сооружения</a>
                                        </li>
                                        <li>
                                            <a href="#">Двери</a>
                                        </li>
                                        <li>
                                            <a href="#">Для дома и сада</a>
                                        </li>
                                        <li>
                                            <a href="#">Крепления трубопроводов</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="submenu-catalog-header__item">
                                    <div class="submenu-catalog-header__link js-lastmenu-trigger">
                                        <span>Серия 5.904-1 выпуск 1:</span>
                                        Блоки пружинные
                                    </div>
                                    <ul class="lastmenu-catalog-header catalog-header__column">
                                        <li class="menu-catalog-header__back js-menu-step-back">
                                            <img class="icon-page icon-page--small" src="content/icons/icon-arr-left-small.svg" alt="" aria-hidden="true">
                                            <span>Назад</span>
                                        </li>
                                        <li>
                                            <a href="#">Для дома и сада</a>
                                        </li>
                                        <li>
                                            <a href="#">Блоки пружинные</a>
                                        </li>
                                        <li>
                                            <a href="#">Крепления трубопроводов</a>
                                        </li>
                                        <li>
                                            <a href="#">Быстровозводимые здания</a>
                                        </li>
                                        <li>
                                            <a href="#">Высотные сооружения</a>
                                        </li>
                                        <li>
                                            <a href="#">Двери</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="menu-catalog-header__item">
                        <div class="menu-catalog-header__link js-submenu-trigger">Анкерные тяги2</div>
                        <div class="submenu-catalog-header catalog-header__column">
                            <div class="menu-catalog-header__back js-menu-step-back">
                                <img class="icon-page icon-page--small" src="content/icons/icon-arr-left-small.svg" alt="" aria-hidden="true">
                                <span>Назад</span>
                            </div>
                            <a href="">Анкерные тяги2</a>
                            <img src="content/header-menu-01.jpg" alt="фото товара">
                            <ul>
                                <li class="submenu-catalog-header__item">
                                    <div class="submenu-catalog-header__link js-lastmenu-trigger">
                                        <span>Серия 5.904-1 выпуск 1:</span>
                                        Блоки пружинные
                                    </div>
                                    <ul class="lastmenu-catalog-header catalog-header__column">
                                        <li class="menu-catalog-header__back js-menu-step-back">
                                            <img class="icon-page icon-page--small" src="content/icons/icon-arr-left-small.svg" alt="" aria-hidden="true">
                                            <span>Назад</span>
                                        </li>
                                        <li>
                                            <a href="#">Для дома и сада</a>
                                        </li>
                                        <li>
                                            <a href="#">Блоки пружинные</a>
                                        </li>
                                        <li>
                                            <a href="#">Крепления трубопроводов</a>
                                        </li>
                                        <li>
                                            <a href="#">Быстровозводимые здания</a>
                                        </li>
                                        <li>
                                            <a href="#">Высотные сооружения</a>
                                        </li>
                                        <li>
                                            <a href="#">Двери</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="submenu-catalog-header__item">
                                    <div class="submenu-catalog-header__link js-lastmenu-trigger">
                                        <span>Серия 5.1904-1 выпуск 12:</span>
                                        Блоки пружинные цветные
                                    </div>
                                    <ul class="lastmenu-catalog-header catalog-header__column">
                                        <li class="menu-catalog-header__back js-menu-step-back">
                                            <img class="icon-page icon-page--small" src="content/icons/icon-arr-left-small.svg" alt="" aria-hidden="true">
                                            <span>Назад</span>
                                        </li>
                                        <li>
                                            <a href="#">Блоки пружинные</a>
                                        </li>
                                        <li>
                                            <a href="#">Быстровозводимые здания</a>
                                        </li>
                                        <li>
                                            <a href="#">Высотные сооружения</a>
                                        </li>
                                        <li>
                                            <a href="#">Двери</a>
                                        </li>
                                        <li>
                                            <a href="#">Для дома и сада</a>
                                        </li>
                                        <li>
                                            <a href="#">Крепления трубопроводов</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="menu-catalog-header__item">
                        <div class="menu-catalog-header__link js-submenu-trigger">Арматура трубопроводов2</div>
                        <div class="submenu-catalog-header catalog-header__column">
                            <div class="menu-catalog-header__back js-menu-step-back">
                                <img class="icon-page icon-page--small" src="content/icons/icon-arr-left-small.svg" alt="" aria-hidden="true">
                                <span>Назад</span>
                            </div>
                            <a href="">Арматура трубопроводов2</a>
                            <img src="content/header-menu-02.png" alt="фото товара">
                            <ul>
                                <li class="submenu-catalog-header__item">
                                    <div class="submenu-catalog-header__link js-lastmenu-trigger">
                                        <span>Серия 5.1904-1 выпуск 12:</span>
                                        Блоки пружинные цветные
                                    </div>
                                    <ul class="lastmenu-catalog-header catalog-header__column">
                                        <li class="menu-catalog-header__back js-menu-step-back">
                                            <img class="icon-page icon-page--small" src="content/icons/icon-arr-left-small.svg" alt="" aria-hidden="true">
                                            <span>Назад</span>
                                        </li>
                                        <li>
                                            <a href="#">Блоки пружинные</a>
                                        </li>
                                        <li>
                                            <a href="#">Быстровозводимые здания</a>
                                        </li>
                                        <li>
                                            <a href="#">Высотные сооружения</a>
                                        </li>
                                        <li>
                                            <a href="#">Двери</a>
                                        </li>
                                        <li>
                                            <a href="#">Для дома и сада</a>
                                        </li>
                                        <li>
                                            <a href="#">Крепления трубопроводов</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="submenu-catalog-header__item">
                                    <div class="submenu-catalog-header__link js-lastmenu-trigger">
                                        <span>Серия 5.904-1 выпуск 1:</span>
                                        Блоки пружинные
                                    </div>
                                    <ul class="lastmenu-catalog-header catalog-header__column">
                                        <li class="menu-catalog-header__back js-menu-step-back">
                                            <img class="icon-page icon-page--small" src="content/icons/icon-arr-left-small.svg" alt="" aria-hidden="true">
                                            <span>Назад</span>
                                        </li>
                                        <li>
                                            <a href="#">Для дома и сада</a>
                                        </li>
                                        <li>
                                            <a href="#">Блоки пружинные</a>
                                        </li>
                                        <li>
                                            <a href="#">Крепления трубопроводов</a>
                                        </li>
                                        <li>
                                            <a href="#">Быстровозводимые здания</a>
                                        </li>
                                        <li>
                                            <a href="#">Высотные сооружения</a>
                                        </li>
                                        <li>
                                            <a href="#">Двери</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="menu-catalog-header__item">
                        <div class="menu-catalog-header__link js-submenu-trigger">Анкерные тяги3</div>
                        <div class="submenu-catalog-header catalog-header__column">
                            <div class="menu-catalog-header__back js-menu-step-back">
                                <img class="icon-page icon-page--small" src="content/icons/icon-arr-left-small.svg" alt="" aria-hidden="true">
                                <span>Назад</span>
                            </div>
                            <a href="">Анкерные тяги3</a>
                            <img src="content/header-menu-01.jpg" alt="фото товара">
                            <ul>
                                <li class="submenu-catalog-header__item">
                                    <div class="submenu-catalog-header__link js-lastmenu-trigger">
                                        <span>Серия 5.904-1 выпуск 1:</span>
                                        Блоки пружинные
                                    </div>
                                    <ul class="lastmenu-catalog-header catalog-header__column">
                                        <li class="menu-catalog-header__back js-menu-step-back">
                                            <img class="icon-page icon-page--small" src="content/icons/icon-arr-left-small.svg" alt="" aria-hidden="true">
                                            <span>Назад</span>
                                        </li>
                                        <li>
                                            <a href="#">Для дома и сада</a>
                                        </li>
                                        <li>
                                            <a href="#">Блоки пружинные</a>
                                        </li>
                                        <li>
                                            <a href="#">Крепления трубопроводов</a>
                                        </li>
                                        <li>
                                            <a href="#">Быстровозводимые здания</a>
                                        </li>
                                        <li>
                                            <a href="#">Высотные сооружения</a>
                                        </li>
                                        <li>
                                            <a href="#">Двери</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="submenu-catalog-header__item">
                                    <div class="submenu-catalog-header__link js-lastmenu-trigger">
                                        <span>Серия 5.1904-1 выпуск 12:</span>
                                        Блоки пружинные цветные
                                    </div>
                                    <ul class="lastmenu-catalog-header catalog-header__column">
                                        <li class="menu-catalog-header__back js-menu-step-back">
                                            <img class="icon-page icon-page--small" src="content/icons/icon-arr-left-small.svg" alt="" aria-hidden="true">
                                            <span>Назад</span>
                                        </li>
                                        <li>
                                            <a href="#">Блоки пружинные</a>
                                        </li>
                                        <li>
                                            <a href="#">Быстровозводимые здания</a>
                                        </li>
                                        <li>
                                            <a href="#">Высотные сооружения</a>
                                        </li>
                                        <li>
                                            <a href="#">Двери</a>
                                        </li>
                                        <li>
                                            <a href="#">Для дома и сада</a>
                                        </li>
                                        <li>
                                            <a href="#">Крепления трубопроводов</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="menu-catalog-header__item">
                        <div class="menu-catalog-header__link js-submenu-trigger">Арматура трубопроводов3</div>
                        <div class="submenu-catalog-header catalog-header__column">
                            <div class="menu-catalog-header__back js-menu-step-back">
                                <img class="icon-page icon-page--small" src="content/icons/icon-arr-left-small.svg" alt="" aria-hidden="true">
                                <span>Назад</span>
                            </div>
                            <a href="">Арматура трубопроводов3</a>
                            <img src="content/header-menu-02.png" alt="фото товара">
                            <ul>
                                <li class="submenu-catalog-header__item">
                                    <div class="submenu-catalog-header__link js-lastmenu-trigger">
                                        <span>Серия 5.1904-1 выпуск 12:</span>
                                        Блоки пружинные цветные
                                    </div>
                                    <ul class="lastmenu-catalog-header catalog-header__column">
                                        <li class="menu-catalog-header__back js-menu-step-back">
                                            <img class="icon-page icon-page--small" src="content/icons/icon-arr-left-small.svg" alt="" aria-hidden="true">
                                            <span>Назад</span>
                                        </li>
                                        <li>
                                            <a href="#">Блоки пружинные</a>
                                        </li>
                                        <li>
                                            <a href="#">Быстровозводимые здания</a>
                                        </li>
                                        <li>
                                            <a href="#">Высотные сооружения</a>
                                        </li>
                                        <li>
                                            <a href="#">Двери</a>
                                        </li>
                                        <li>
                                            <a href="#">Для дома и сада</a>
                                        </li>
                                        <li>
                                            <a href="#">Крепления трубопроводов</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="submenu-catalog-header__item">
                                    <div class="submenu-catalog-header__link js-lastmenu-trigger">
                                        <span>Серия 5.904-1 выпуск 1:</span>
                                        Блоки пружинные
                                    </div>
                                    <ul class="lastmenu-catalog-header catalog-header__column">
                                        <li class="menu-catalog-header__back js-menu-step-back">
                                            <img class="icon-page icon-page--small" src="content/icons/icon-arr-left-small.svg" alt="" aria-hidden="true">
                                            <span>Назад</span>
                                        </li>
                                        <li>
                                            <a href="#">Для дома и сада</a>
                                        </li>
                                        <li>
                                            <a href="#">Блоки пружинные</a>
                                        </li>
                                        <li>
                                            <a href="#">Крепления трубопроводов</a>
                                        </li>
                                        <li>
                                            <a href="#">Быстровозводимые здания</a>
                                        </li>
                                        <li>
                                            <a href="#">Высотные сооружения</a>
                                        </li>
                                        <li>
                                            <a href="#">Двери</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>