<footer class="footer">
    <div class="container">
        <div class="footer__row _spollers">
            <a href="#" class="logo-page logo-page--white">
                <img src="content/logo-page-white.png" alt="логотип компании">
                <p>
                    <span>Федеральный</span>
                    <span>производитель</span>
                    <span>металлоизделий</span>
                </p>
            </a>
            <div class="footer__column">
                <div class="footer__nav">
                    <a href="#">Главная</a>
                    <a href="#">О компании</a>
                    <a href="#">Доставка и оплата</a>
                    <a href="#">Контакты</a>
                    <a href="#">Реквизиты</a>
                </div>
            </div>
            <div class="footer__column">
                <button data-max="767" type="button" class="footer__column-title _spoller">
                    <span>Направления деятельности</span>
                    <img class="icon-page" src="content/icons/icon-arr-down.svg" alt="">
                </button>
                <div class="footer__column-content">
                    <div class="footer__links">
                        <a href="#">BastionSteel</a>
                        <a href="#">BastionFire</a>
                        <a href="#">BastionProject</a>
                        <a href="#">BastionServices</a>
                    </div>
                </div>
            </div>
            <div class="footer__column">
                <button data-max="767" type="button" class="footer__column-title _spoller">
                    <span>Способы оплаты</span>
                    <img class="icon-page" src="content/icons/icon-arr-down.svg" alt="">
                </button>
                <div class="footer__column-content">
                    <ul class="footer__payment">
                        <li>
                            <img src="content/icons/icon-pay-01.svg" alt="">
                            <p>Наличные</p>
                        </li>
                        <li>
                            <img src="content/icons/icon-pay-01.svg" alt="">
                            <p>Карты</p>
                        </li>
                        <li>
                            <img src="content/icons/icon-pay-03.svg" alt="">
                            <p>Электронные <br> деньги</p>
                        </li>
                        <li>
                            <img src="content/icons/icon-pay-03.svg" alt="">
                            <p>Банковский <br> перевод</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__columm">
                <button data-max="767" type="button" class="footer__column-title _spoller">
                    <span>Контакты</span>
                    <img class="icon-page" src="content/icons/icon-arr-down.svg" alt="">
                </button>
                <div class="footer__column-content">
                    <div class="footer__contacts">
                        <a href="tel:+7(499)380-78-90" class="footer__contacts-phone">+7 (499) 380-78-90</a>
                        <a href="mailto:info@bastion.pro">info@bastion.pro</a>
                        <p>График работы:<span>ПН-ПТ 9:00 - 18:00</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <p class="footer__copyright">© 2010 - 2022 Все права защищены | <a href="#">Политика конфиденциальности</a></p>
            <div class="socials-page">
                <a href="#">
                    <img src="content/icons/icon-whatsapp.svg" alt="">
                </a>
                <a href="#">
                    <img src="content/icons/icon-telegram.svg" alt="">
                </a>
                <a href="#">
                    <img src="content/icons/icon-vk.svg" alt="">
                </a>
            </div>
        </div>
    </div>
</footer>