<div class="recall-request">
    <div class="container">
        <form action="/" method="post" class="form form--row">
            <div class="form__items">
                <div class="form__item">
                    <label class="label-form fly-placeholder">
                        <input type="text" name="Name" class="label-form__input">
                        <span class="label-form__placeholder">Ваше Имя</span>
                    </label>
                </div>
                <div class="form__item">
                    <label class="label-form fly-placeholder">
                        <input type="tel" name="Phone" class="label-form__input">
                        <span class="label-form__placeholder">Ваш телефон</span>
                    </label>
                </div>
            </div>
            <div class="form__btns">
                <button type="submit" class="btn btn--red">Заказать звонок</button>
                <p class="form__policy">Нажимая на кнопку, вы соглашаетесь с <a href="#">политикой конфиденциальности</a></p>
            </div>
        </form>
    </div>
</div>