<div class="warning-banner">
    <div class="container">
        <div class="warning-banner__row">
            <div class="warning-banner__text">
                Для корректной работы сайта требуется включить cookies в браузере
            </div>
        </div>
    </div>
</div>