<div id="popup-add-to-cart" class="popup-add-to-cart popup-template">
    <h3 class="popup-template__title">Товар добавлен в корзину</h3>
    <div class="popup-template__content">
        <div class="card-popup">
            <div class="card-popup__img">
                <img src="" alt="фото">
            </div>
            <div class="card-popup__body">
                <div class="card-popup__code">
                    <span></span>
                </div>
                <div class="card-popup__info">
                    <span class="card-popup__title"></span>
                    <span class="card-popup__price"></span>
                    <span class="card-popup__count"></span>
                </div>
                <div class="popup-template__btns">
                    <a href="#" class="btn btn--red">В корзину</a>
                    <a href="#" class="btn">Коммерческое предложение</a>
                </div>
            </div>
        </div>
    </div>
</div>