<div id="recall-popup" class="recall-popup popup-template">
    <h3 class="popup-template__title">Заказать звонок</h3>
    <div class="popup-template__content">
        <form action="/" method="post" class="form">
            <div class="form__items">
                <div class="form__item">
                    <label class="label-form fly-placeholder">
                        <input type="text" name="Name" class="label-form__input">
                        <span class="label-form__placeholder">Ваше Имя</span>
                        <img class="label-form__icon" src="content/icons/icon-user.svg" alt="">
                    </label>
                </div>
                <div class="form__item">
                    <label class="label-form fly-placeholder">
                        <input type="tel" name="Phone" class="label-form__input">
                        <span class="label-form__placeholder">Номер телефона</span>
                        <img class="label-form__icon" src="content/icons/icon-phone.svg" alt="">
                    </label>
                </div>
            </div>
            <div class="form__buttons">
                <button type="submit" class="btn btn--red">Заказать звонок</button>
            </div>
        </form>
    </div>
</div>
