{% extends "layouts/_default.njk" %}

{# {% set breadCrumbs = [{
    name: 'Главная',
    link: '#'
}, {
    name: 'О компании',
    link: '#'
}] %} #}

{% block content %}

    <div class="page-section">
        <div class="container">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, vitae optio minus eveniet inventore sint perspiciatis rem veritatis quam earum velit! Ut error debitis delectus asperiores molestiae nemo, atque tempora.
            </p>
        </div>
    </div>

{% endblock %}