{% extends "layouts/_default.njk" %}

{# {% set breadCrumbs = [{
    name: 'Главная',
    link: '#'
}, {
    name: 'О компании',
    link: '#'
}] %} #}

{% block content %}

    <div class="page-section">
        <div class="container">
            <div class="test">
                <video id="myVideo" width="320" height="176" controls>
                    <source src="https://www.w3schools.com/tags/mov_bbb.mp4" type="video/mp4">
                    <source src="mov_bbb.ogg" type="video/ogg"> Your browser does not support HTML5 video.
                </video>
                <!-- <p>
                    <span id="demo"></span>
                </p> -->
            </div>
            <div class="video-play">тест</div>
            <div class="timecodes">
                <p data-start="0" data-end="3">с 0 по 3</p>
                <p data-start="4" data-end="6">с 4 по 6</p>
                <p data-start="7" data-end="8">с 7 по 8</p>
                <p data-start="9" data-end="10">с 9 по 10</p>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

{% endblock %}