<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/page-list.css">
</head>
<body>
    <div class="wrapper">
        <main class="page">
            {% block content %}{% endblock %}
        </main>
    </div>
    <script>
        let ua = window.navigator.userAgent;
        function isIE() {
        ua = navigator.userAgent;
        const isIe = ua.indexOf('MSIE ') > -1 || ua.indexOf('Trident/') > -1;
        return isIe;
        }
        if (isIE()) {
        document.querySelector('html').classList.add('fix-ie');
        }
    </script>
</body>
</html>