<div class="banner-slider">
    <div class="swiper js-anim js-anim--opacity">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="banner-slider__item">
                    <div class="banner-slider__bg img-response" data-swiper-parallax-x="50%">
                        <img src="content/banner-slider-01.jpg" alt="фото баннера">
                    </div>
                    <div class="container">
                        <div class="banner-slider__body">
                            <h1 class="banner-slider__title">Производим металлические изделия с <br> <b>2010</b> года</h1>
                            <p class="banner-slider__subtitle" data-swiper-parallax-x="-35%">Умеем договариваться на выгодных для вас условиях!</p>
                            <a href="#" class="btn btn--static" data-swiper-parallax-x="-55%"><span>Рассчитать стоимость</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="banner-slider__item">
                    <div class="banner-slider__bg img-response" data-swiper-parallax-x="50%">
                        <img src="content/banner-slider-01.jpg" alt="фото баннера">
                    </div>
                    <div class="container">
                        <div class="banner-slider__body">
                            <h1 class="banner-slider__title">Производим металлоконструкции на <span>ВЫГОДНЫХ для вас условиях!</span></h1>
                            <p class="banner-slider__subtitle" data-swiper-parallax-x="-35%">В крупных объемах и любой сложности</p>
                            <a href="#" class="btn btn--static" data-swiper-parallax-x="-55%"><span>Рассчитать стоимость</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-slider">
            <button type="button" class="btn-slider btn-prev"></button>
            <button type="button" class="btn-slider btn-next"></button>
        </div>
    </div>
    <div class="container">
        <div class="banner-slider__bottom">
            <div class="banner-slider__row">
                <div class="item-banner-slider js-anim">
                    <div class="item-banner-slider__content">
                        <div class="item-banner-slider__icon">
                            <img src="content/icons/icon-banner-slider-01.svg" alt="">
                        </div>
                        <p>Найдем <span>компромисс</span> с любым заказчиком</p>
                    </div>
                </div>
                <div class="item-banner-slider js-anim">
                    <div class="item-banner-slider__content">
                        <div class="item-banner-slider__icon">
                            <img src="content/icons/icon-banner-slider-01.svg" alt="">
                        </div>
                        <p>Весь <span>комплекс</span> подрядных услуг</p>
                    </div>
                </div>
                <div class="item-banner-slider js-anim">
                    <div class="item-banner-slider__content">
                        <div class="item-banner-slider__icon">
                            <img src="content/icons/icon-banner-slider-01.svg" alt="">
                        </div>
                        <p>Современный <span>технический</span> парк обородования</p>
                    </div>
                </div>
                <div class="item-banner-slider js-anim">
                    <div class="item-banner-slider__content">
                        <div class="item-banner-slider__icon">
                            <img src="content/icons/icon-banner-slider-01.svg" alt="">
                        </div>
                        <p><span>Доставка</span> в любой регион</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>