<div class="static-slider static-slider--inner">
    <div class="head-section">
        <h2 class="title-section">Сертификаты и допуски
        </h2>
        <div class="nav-slider">
            <button type="button" class="btn-slider btn-prev"></button>
            <button type="button" class="btn-slider btn-next"></button>
        </div>
    </div>
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="content/cert-01.jpg" data-fancybox="certificates" class="card-cert">
                    <div class="card-cert__item img-response">
                        <img src="content/cert-01.jpg" alt="фото" title="картинка с гавнокачеством из макета">
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="content/cert-02.jpg" data-fancybox="certificates" class="card-cert">
                    <div class="card-cert__item img-response">
                        <img src="content/cert-02.jpg" alt="фото" title="картинка с гавнокачеством из макета">
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="content/cert-03.jpg" data-fancybox="certificates" class="card-cert">
                    <div class="card-cert__item img-response">
                        <img src="content/cert-03.jpg" alt="фото" title="картинка с гавнокачеством из макета">
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="content/cert-04.jpg" data-fancybox="certificates" class="card-cert">
                    <div class="card-cert__item img-response">
                        <img src="content/cert-04.jpg" alt="фото" title="картинка с гавнокачеством из макета">
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="content/cert-01.jpg" data-fancybox="certificates" class="card-cert">
                    <div class="card-cert__item img-response">
                        <img src="content/cert-01.jpg" alt="фото" title="картинка с гавнокачеством из макета">
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="content/cert-02.jpg" data-fancybox="certificates" class="card-cert">
                    <div class="card-cert__item img-response">
                        <img src="content/cert-02.jpg" alt="фото" title="картинка с гавнокачеством из макета">
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="content/cert-03.jpg" data-fancybox="certificates" class="card-cert">
                    <div class="card-cert__item img-response">
                        <img src="content/cert-03.jpg" alt="фото" title="картинка с гавнокачеством из макета">
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="content/cert-04.jpg" data-fancybox="certificates" class="card-cert">
                    <div class="card-cert__item img-response">
                        <img src="content/cert-04.jpg" alt="фото" title="картинка с гавнокачеством из макета">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>