<div class="static-slider static-slider--inner">
    <div class="head-section js-anim">
        <h2 class="title-section">Сертификаты и допуски
        </h2>
        <div class="nav-slider">
            <button type="button" class="btn-slider btn-prev"></button>
            <button type="button" class="btn-slider btn-next"></button>
        </div>
    </div>
    <div class="swiper js-anim">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="content/cert-01.jpg" data-fancybox="certificates" class="card-cert">
                    <div class="card-cert__item img-response">
                        <picture>
                            <source type="image/webp" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="content/cert-01.webp">
                            <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="content/cert-01.jpg" alt="фото баннера">
                        </picture>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="content/cert-02.jpg" data-fancybox="certificates" class="card-cert">
                    <div class="card-cert__item img-response">
                        <picture>
                            <source type="image/webp" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="content/cert-02.webp">
                            <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="content/cert-02.jpg" alt="фото баннера">
                        </picture>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="content/cert-03.jpg" data-fancybox="certificates" class="card-cert">
                    <div class="card-cert__item img-response">
                        <picture>
                            <source type="image/webp" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="content/cert-03.webp">
                            <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="content/cert-03.jpg" alt="фото баннера">
                        </picture>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="content/cert-04.jpg" data-fancybox="certificates" class="card-cert">
                    <div class="card-cert__item img-response">
                        <picture>
                            <source type="image/webp" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="content/cert-04.webp">
                            <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="content/cert-04.jpg" alt="фото баннера">
                        </picture>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="content/cert-01.jpg" data-fancybox="certificates" class="card-cert">
                    <div class="card-cert__item img-response">
                        <picture>
                            <source type="image/webp" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="content/cert-01.webp">
                            <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="content/cert-01.jpg" alt="фото баннера">
                        </picture>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="content/cert-02.jpg" data-fancybox="certificates" class="card-cert">
                    <div class="card-cert__item img-response">
                        <picture>
                            <source type="image/webp" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="content/cert-02.webp">
                            <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="content/cert-02.jpg" alt="фото баннера">
                        </picture>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="content/cert-03.jpg" data-fancybox="certificates" class="card-cert">
                    <div class="card-cert__item img-response">
                        <picture>
                            <source type="image/webp" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="content/cert-03.webp">
                            <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="content/cert-03.jpg" alt="фото баннера">
                        </picture>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="content/cert-04.jpg" data-fancybox="certificates" class="card-cert">
                    <div class="card-cert__item img-response">
                        <picture>
                            <source type="image/webp" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="content/cert-04.webp">
                            <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="content/cert-04.jpg" alt="фото баннера">
                        </picture>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>