<div class="error">
    <img src="content/error.png" alt="error">
    <h1 class="title-section">К сожалению, эта страница недоступна.</h1>
    <p>Возможно, вы воспользовались недействительной ссылкой или страница была удалена.</p>
</div>