<div class="error js-anim">
    <picture>
        <source type="image/webp" srcset="content/error.webp">
        <img src="content/error.png" alt="error" class="mouse-parallax" data-parallax-speed="15">
    </picture>
    <h1 class="title-section">К сожалению, эта страница недоступна.</h1>
    <p>Возможно, вы воспользовались недействительной ссылкой или страница была удалена.</p>
</div>