<div class="error">
    <img src="content/error.png" alt="error" class="mouse-parallax" data-parallax-speed="15">
    <h1 class="title-section">К сожалению, эта страница недоступна.</h1>
    <p>Возможно, вы воспользовались недействительной ссылкой или страница была удалена.</p>
</div>