<div class="holding">
    <div class="holding__row">
        <ul class="holding__list js-anim">
            <li>
                <b>02</b>
                <p>Производственные базы (Москва и Санкт-Петербург)</p>
            </li>
            <li>
                <b>27</b>
                <p>единиц профессионального оборудования</p>
            </li>
            <li>
                <b>2 800</b>
                <p>м2 производственных площадей</p>
            </li>
            <li>
                <b>5 000</b>
                <p>тонн выпускаемой продукции ежегодно</p>
            </li>
        </ul>
        <div class="holding__img-wrapper">
            <div class="holding__img img-response mouse-parallax" data-parallax-speed="15">
                <picture>
                    <source type="image/webp" srcset="content/holding-01.webp">
                    <img src="content/holding-01.png" alt="фото" title="картинка с гавнокачеством из макета">
                </picture>
            </div>
        </div>
    </div>
</div>