<div class="profit">
    <div class="profit__row">
        <div class="profit__item js-anim">
            <b>01</b>
            <p>Всегда находим компромисс и учитываем ваши интересы</p>
        </div>
        <div class="profit__item js-anim">
            <b>02</b>
            <p>Собственное производство - не срываем сроки</p>
        </div>
        <div class="profit__item js-anim">
            <b>03</b>
            <p>Штатный парк техники для перевозки и погрузо- разгрузочных работ</p>
        </div>
        <div class="profit__item js-anim">
            <b>04</b>
            <p>Под ключ - от проектирования до сдачи объекта</p>
        </div>
        <div class="profit__item js-anim">
            <b>05</b>
            <p>Гарантия защиты средств от «Альфа-банка»</p>
        </div>
    </div>
</div>