<div class="static-slider static-slider--inner">
    <div class="head-section js-anim">
        <h2 class="title-section">Нам доверяют</h2>
        <div class="nav-slider">
            <button type="button" class="btn-slider btn-prev"></button>
            <button type="button" class="btn-slider btn-next"></button>
        </div>
    </div>
    <div class="swiper js-anim">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="#" class="card-trust">
                    <picture>
                        <source type="image/webp" srcset="content/trust-01.webp">
                        <img src="content/trust-01.jpg" alt="фото баннера">
                    </picture>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="card-trust">
                    <picture>
                        <source type="image/webp" srcset="content/trust-02.webp">
                        <img src="content/trust-02.jpg" alt="фото баннера">
                    </picture>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="card-trust">
                    <picture>
                        <source type="image/webp" srcset="content/trust-03.webp">
                        <img src="content/trust-03.jpg" alt="фото баннера">
                    </picture>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="card-trust">
                    <picture>
                        <source type="image/webp" srcset="content/trust-04.webp">
                        <img src="content/trust-04.jpg" alt="фото баннера">
                    </picture>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="card-trust">
                    <picture>
                        <source type="image/webp" srcset="content/trust-01.webp">
                        <img src="content/trust-01.jpg" alt="фото баннера">
                    </picture>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="card-trust">
                    <picture>
                        <source type="image/webp" srcset="content/trust-02.webp">
                        <img src="content/trust-02.jpg" alt="фото баннера">
                    </picture>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="card-trust">
                    <picture>
                        <source type="image/webp" srcset="content/trust-03.webp">
                        <img src="content/trust-03.jpg" alt="фото баннера">
                    </picture>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="card-trust">
                    <picture>
                        <source type="image/webp" srcset="content/trust-04.webp">
                        <img src="content/trust-04.jpg" alt="фото баннера">
                    </picture>
                </a>
            </div>
        </div>
    </div>
</div>