<div class="static-slider static-slider--inner">
    <div class="head-section js-anim">
        <h2 class="title-section">Нам доверяют</h2>
        <div class="nav-slider">
            <button type="button" class="btn-slider btn-prev"></button>
            <button type="button" class="btn-slider btn-next"></button>
        </div>
    </div>
    <div class="swiper js-anim">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="#" class="card-trust">
                    <img src="content/trust-01.png" alt="фото">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="card-trust">
                    <img src="content/trust-02.png" alt="фото">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="card-trust">
                    <img src="content/trust-03.png" alt="фото">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="card-trust">
                    <img src="content/trust-04.png" alt="фото">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="card-trust">
                    <img src="content/trust-01.png" alt="фото">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="card-trust">
                    <img src="content/trust-02.png" alt="фото">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="card-trust">
                    <img src="content/trust-03.png" alt="фото">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="card-trust">
                    <img src="content/trust-04.png" alt="фото">
                </a>
            </div>
        </div>
    </div>
</div>