<div class="ways">
    <div class="ways__row">
        <div class="ways__column js-anim">
            <div class="ways__item">
                <div class="ways__image">
                    <img src="content/ways-01.png" alt="фото">
                </div>
                <h3 class="ways__title">Металлические изделия</h3>
                <ul>
                    <li>Пример названия подпункта</li>
                    <li>Приммер</li>
                    <li>Пример названия</li>
                    <li>Подкатегория пример</li>
                </ul>
                <a href="#" class="btn btn--static">
                    <span>Подробнее</span>
                </a>
            </div>
        </div>
        <div class="ways__column js-anim">
            <div class="ways__item">
                <div class="ways__image">
                    <img src="content/ways-02.png" alt="фото">
                </div>
                <h3 class="ways__title">Противопожарное оборудование</h3>
                <ul>
                    <li>Пример названия подпункта</li>
                    <li>Приммер</li>
                    <li>Пример названия</li>
                </ul>
                <a href="#" class="btn btn--static">
                    <span>Подробнее</span>
                </a>
            </div>
        </div>
        <div class="ways__column js-anim">
            <div class="ways__item">
                <div class="ways__image">
                    <img src="content/ways-03.png" alt="фото">
                </div>
                <h3 class="ways__title">Проектирование металлоконструкций</h3>
                <ul>
                    <li>Пример названия подпункта</li>
                    <li>Приммер</li>
                    <li>Пример названия</li>
                    <li>Подкатегория пример</li>
                </ul>
                <a href="#" class="btn btn--static">
                    <span>Подробнее</span>
                </a>
            </div>
        </div>
    </div>
</div>